.App {
  text-align: center;
  justify-content: center;
}

.chess-background{
  width: 1000px;
  height: 1000px;
  background-color: rgb(255, 209, 123);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.chess-board{
  width: 90%;
  height: 90%;
  background-color: black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
